.header{
    position:fixed;
    cursor: pointer;
    width:100%;
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    padding-bottom: 15px;

    color:cornsilk;
    z-index: 100;
    border-bottom:2px solid rgb(37, 120, 197);

}
@media (max-width:1000px){
    .header{
        padding-top:15px;
        font-size: 6.5vw;
    }
}